<ul class="row">
  {{#each courses as |course|}}
    <li class="col-md-3 list-unstyled list-item {{course.status}}">
      <div class="course">
        <figure>
          <img src="{{course.thumb}}" alt="{{course.title}}">
        </figure>
        <figcaption class="description">
          {{link-to course.title "courses.show" course.id class="title"}}
          <br>
          <span>
            com <a href="#">{{course.author}}</a>
          </span>
        </figcaption>
      </div>
    </li>
  {{/each}}
</ul>
