<div class="row">
  {{#each courses as |course|}}
    <div class="col-md-3 col-sm-4 list-unstyled list-item">
      <div class="course">
        <figure>
          <img src="{{course.thumb}}" alt="{{course.title}}">
        </figure>
        <figcaption class="description">
          {{link-to course.title "courses.show" course.id class="title"}}
          <br>
          <span>
            com <a href="#">{{course.author}}</a>
          </span>
          {{generate-stars rating=course.rating}}
        </figcaption>
      </div>
    </div>
  {{/each}}
</div>
